---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import Ava from '@src/assets/img/ava.jpg';
import Prose from '../components/Prose.astro';

---

<BaseLayout
	title="About Me"
	description="A Little More About Me"
>
  <div class='container'>
		<main class='prose text-lg dark:prose-invert'>
      <article>
        <div class='w-full md:flex md:items-center gap-16 mb-10'>
          <div class="text-pretty leading-9">
            <h1 class="text-4xl font-bold mb-4">About Me</h1>
            <Prose>
              <div class="text-lg">
                
              </div>
            </Prose>
          </div>
          <Image src={Ava} alt="Estelle L." width={300}  class="rounded-3xl rotate-3 mx-4 md:mx-0"/>
        </div>
        <div class="text-lg">
          <p>Hey, I’m <strong>Estelle L.</strong>—a former localization professional turned software developer.</p>
          
          <h2 class="text-2xl font-semibold mt-6">The Origin Story</h2>
          <p>Before diving into software development, I studied business and translation, then spent over a decade working in <strong>video game localization</strong>. I wore many hats, initially translating, and later leading projects and teams. All my roles involved a strong technical focus with internationalization front of mind, and regular problem-solving and process optimization through localization engineering.</p>
          <p>As a first step in my full transition to the technical side of things, I studied <strong>technical writing, UX and content management</strong> as part of the TCLOC Master degree with Université de Strasbourg. I also obtained the Tekom certification in the process. Meanwhile, I started learning web dev with The Odin Project curriculum.</p>
          <p>In 2024, I participated in a 9-month <strong>Full-Stack Engineering training program sponsored by Axel Springer NMT</strong>, grinding through software engineering fundamentals and learning how to build full-stack apps with a modern stack. I also enrolled in a Computer Science degree with Université Paris 8, with a planned completion in 2027.</p>
          <p>I am actively working on personal projects while seeking job opportunities. I am particularly interested in tackling backend challenges but will happily consider full-stack roles as well.</p>

          <h2 class="text-2xl font-semibold mt-6">What I Do</h2>
          <p>My focus is on:</p>
          <ul>
            <li><strong>Backend Engineering:</strong> APIs, database management</li>
            <li><strong>Full-Stack Development:</strong> JavaScript / TypeScript, Node.js / Express, React / Next.JS, CSS / Tailwind</li>
            <li><strong>Localization Engineering:</strong> File parsing, workflow automation, TMS integrations</li>
            <li><strong>Tech Writing & Docs:</strong> Markdown, structured content, UX writing, content stragegy</li>
          </ul>
          <h2 class="text-2xl font-semibold mt-6">What I Care About</h2>
          <div>
            <p>When I’m not building web apps or cramming for exams, you’ll find me lost in <strong>sci-fi novels</strong>, contemplating futuristic utopias or just vibing with space drama. I care about making the world a more humane and inclusive place, and I hope to be able to work on projects that will align with that. Apart from that, I spend an alarming amount of time debating with my partner about which dog breed is ultimately the cutest. My IG algorithm (and <a href="https://github.com/estellel-github/memory-card-game" target="_blank" rel="nofollow noopener">one of my recent toy projects</a>) indicates I’m a chihuahua stan right now, but... jury’s still out and I am very easily swayed, so I'd love to hear what you think!</p>
            </p>
          </div>
          <h2 class="text-2xl font-semibold mt-6">Let’s Connect</h2>
          <p>I'm open to collaboration! Let's chat:</p>
          <ul>
            <li><a href="https://github.com/YOUR_GITHUB" target="_blank" rel="nofollow noopener">GitHub</a></li>
            <li><a href="https://linkedin.com/in/YOUR_LINKEDIN" target="_blank" rel="nofollow noopener">LinkedIn</a></li>
          </ul>
        </div>

        </article>
      </article>
    </main>
  </div>
</BaseLayout>
